@use "../../css/pure.css";
// @use "../pure.css/buttons";
@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;


.btn-pri {
    @extend .pure-button;
    border-radius: $border-rad-xs;
    font-size: 80%;
    font-weight: 600;
    padding: $spac-xs .2rem;
    // border: var(--borderBlanco);
    @include hvr-right;

    
    @include tablet{
        font-size: 100%;
        padding: $spac-xs $spac-s;
        border-radius: $border-rad-s;
    }
    @include desktop-lg{
        font-size: 120%;
    }
}
.btn-pri-m {
    @extend .btn-pri;
    border-radius: $border-rad-s;
    font-size: 120%;
}
.btn-pri-l {
    @extend .btn-pri-m;
    font-size: 140%;
}
.btn-pri-xl {
    @extend .btn-pri-m;
    font-size: 160%;
}
.btn-pri-xxl {
    @extend .btn-pri-m;
    font-size: 180%;
}
// .btn-pri-s:hover,
.btn-pri:hover,
.btn-pri-m:hover,
.btn-pri-l:hover,
.btn-pri-xl:hover,
.btn-pri-xxl:hover {
    box-shadow: none;
    background-color: $transparent0;
    border: $border-white;
    color: var(--negro);
    // border: $border-black;
}
// .btn-pri-s:hover::before,
.btn-pri:hover::before,
.btn-pri-m:hover::before,
.btn-pri-l:hover::before,
.btn-pri-xl:hover::before,
.btn-pri-xxl:hover:before {
    transform: scaleX(0);
    transition: transform .3s ease-out;
}