@use '../abstract/variables' as*;
@use '../abstract/mixins' as*;

.count__container{
    position: relative;
    @include flex(row,center, center, none);
    gap: .5rem;
    color: $blanco;
    border-top: $border-white;
    border-bottom: $border-white;
    padding: .3rem 0;
    // @include font-rajdhani(600);
    
    
    & > div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.2fr 1fr;
        justify-items: end;
        align-items: center;

        & p{
            @include font-rajdhani(600);
            margin: 0;
        }        

        // & span[class*="number"] {
        // }
        & p[class*="text"] {
            justify-self: center;
        }
    }
}