@use '../abstract/variables' as*;
@use '../abstract/mixins' as*;



.count__container{
    position: relative;
    @include flex(row,center, center, none);
    gap: .5rem;
    
    & > div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.2fr 1fr;
        justify-items: end;
        align-items: center;

        & p{
            @include font-rajdhani(600);
            margin: 0;
        }        

        // & span[class*="number"] {
        // }
        & p[class*="text"] {
            justify-self: center;
        }
    }
}

.counter__text__container{
    overflow-y: hidden;
    position: relative;
    border: solid 1px var(--textoTitulos);
    border-left: none;
    border-right: none;
    height: 100%;
    // @include flex(column, center,center, none);

    .counter__msj{
        @include flex(column, center, center,none);
        flex-grow: 1;
        height: 100%;
        p{
            display: inline;
            margin: 0;
            font-size: 100%;
        }
    }
    .count__container{
        height: 100%;
    }
 
    .nav__text{
        p{
            text-align: center;
            font-size: clamp(0.8rem, 0.586rem + 1.071vw, 1.1rem);
            margin: 0;
            display: inline-block;
            height: 100%;
            width: 100%;
        }
    }
}
