@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.services__container {
    position: relative;
    height: 70%;
    width: 80%;

    //CAMBIO VERTICAL HORIZONTAL
    display: flex;
    flex-direction: column;

    @include desktop-sm {
      flex-direction: row;
    }

    .item {
      position: relative;
      z-index: 1;
      cursor: pointer;
      border: $border-white;
      @include glass-bg(transparent, 4px);
      flex-grow: 1;
      overflow: hidden;
    }

    .service{
        height: 100%;
        position: absolute;
        margin-top: clamp(1rem, -0.429rem + 7.143vw, 3rem);
        display: flex;
        flex-direction: column;
        color: $blanco;

        .logo-title{
            text-align: center;

            img{
                width: auto;
                height: 50%;
            }
        }

        .text-anim{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        @include desktop-sm{
                position: relative;
                width: 80%;
                margin: 0 auto;
                .logo-title{
                    height: 40%;
                    position: absolute;
                    top: 0;
                    @include centrarhorizontal;

                    h3{
                       width: 340px;               
                    }

                    img{
                        width: 100px;
                    }

                }
                .text-anim{
                    height: 60%;
                     position: absolute;  
                     bottom: 0; 
                     width: 650px; 
                     @include centrarhorizontal2;   
                }
        }

    }
  }