@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.services__container {
    height: 70%;

    //CAMBIO VERTICAL HORIZONTAL
    display: flex;
    flex-direction: column;

    @include desktop-sm {
      flex-direction: row;
    }

    .item {
      position: relative;
      z-index: 1;
      cursor: pointer;
      border: $border-white;
      @include glass-bg(transparent, 4px);
      flex-grow: 1;
      overflow: hidden;
    }

    .service{
        position: absolute;
        color: $blanco;
        @include centrarhorizontal;
        width: 100%;
        max-width: 550px;
        margin-top: clamp(1rem, -0.429rem + 7.143vw, 3rem);
        display: flex;
        flex-direction: column;
        gap: clamp(0rem, -2.857rem + 14.286vw, 4rem);

        .logo-title{
            text-align: center;

        }

        .text-anim{
            // p{
            //     // margin-top: 2rem;
            // }
        }


        @include desktop-sm{
            min-width: 400px;
            max-width: 400px;
            @include centrarhorizontal;
        }

    }
  }