/* .gradient-text {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #666666, #ffffff 50%, #3c3b3b); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
  } */
.gradient-text {
    font-size: 3rem;
    font-weight: bold;
    background: radial-gradient(circle, #ffffff, #151515); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
  }
  .box{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
border-radius: 50em;
border: 1px solid transparent;
  }