@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.formulario {
  & > * {
    @include font-raleway;
  }
  position: relative;
  max-width: 100vw;
  // background-color: var(--formBg);

  .home{
    position: absolute;  
  }
  .gradient {
    z-index: -2;
    position: absolute;
    inset: 0;
    background: radial-gradient(var(--formGradient), var(--formBg));
  }

  .form__container {
    height: 100vh;
    @include flex(row, flex-start, center, none);
    flex-wrap: nowrap;
  }
  .error,
  .input__container {
    transform: translateX(-100%);

    p {
      text-align: center;
    }
  }

  .input {
    // opacity: 0;
    height: 300px;
    position: relative;
    @include flex(row, center, center, none);
    @include border-gradient;
    @include glass-bg-only($blur: 5px);

    .input__container {
      min-width: 100vw;
      width: 100%;
      @include flex(column, center, center, .5rem);
      // padding: 2rem 0;

      & > * {
        margin: 1rem;
      }

      label {
        h4{
          margin: 0;
          @include font-raleway;
          @include desktop-sm{
            // font-size: 1.5rem;
          }
        }

        p {
          color: var(--textoTitulos);
        }

        // @include desktop-sm{

        // }
      }

      input {
        width: 50%;
        background: transparent;
        border: none;
        border-bottom: solid 1px var(--textoPrincipal);
        color: var(--textoTitulos);
        font-size: 100%;
        max-width: 320px;
        text-align: center;

        &:focus {
          background: transparent;
          border: none;
          outline: none;
          border-bottom: 1px solid var(--textoTitulos);
        }

        &::placeholder {
          text-align: center;
          color: #616161;
          font-size: clamp(0.9rem, 0.614rem + 1.429vw, 1.3rem);
        }

        @include tablet {
          width: 30%;
        }
        @include tablet-l {
          width: 30%;
        }
      }
      textarea {
        height: clamp(3.5rem, 2.429rem + 5.357vw, 5rem);
        margin: 0;
        width: 80%;
        background-color: transparent;
        border: none;
        color: var(--textoTitulos);
        border-bottom: solid 1px var(--textoPrincipal);
        text-align: center;
        resize: none;
        
        @include desktop-sm{
          width: 40%;
        } 
        
        &::placeholder {
          // text-align: center;
          color: var(--textoPrincipal);
          font-size: clamp(0.9rem, 0.614rem + 1.429vw, 1.3rem);
        }
        &:focus{
          outline: none;
          background-color: #ffffff23;
          // text-align: left;
          // text-align: center;
        }
      }
      
      .select{
        position: relative;
        @include font-raleway;
        width: 50%;
        text-align: center;
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border-bottom: 1px solid var(--textoPrincipal);
        color: var(--textoTitulos);
        @include flex(column, center, center, none);

        .title__b{
          position: absolute;
          right: 0;
        }
        
        .select__title{
          color: var(--textoPrincipal);
        }

        @include tablet {
          width: 30%;
        }
        @include tablet-l {
          width: 25%;
        }

        .select__items{
          @include font-raleway;
          cursor: pointer;
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          color: var(--textoPrincipal);
          @include glass-bg-only;
          z-index: 1;
          // padding: .5rem 0;
          // margin:0 0 1rem 0;

          .item{
            padding: .5rem 0;
            &:hover{
              background-color: #ffffff6f;
            }
          }
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          & > * {
            display: inline-block;
            font-size: 120%;
            margin: 0.5rem;
            padding: 0;
          }

          & > :first-child {
            color: var(--textoTitulos);
          }
          & > :nth-child(2) {
            color: var(--textoPrincipal);
          }
        }
      }

      .input__btns {
        @include flex(row, center, center, 1.5rem);

        button {
          text-transform: uppercase;
          padding: 0.5rem 1.5rem;
          font-size: 80%;
          font-weight: 600;
        }
      }
    }
  }

  #gemstone-bg {
    z-index: -1;
    stroke: #616161;
    position: absolute;
    width: 150%;
    @include centrarAbsolute;
    max-width: 40rem;
  }

  .switch1 {
    transform: none;
    display: none;
  }
}

ul {
  li {
    &::marker {
      color: var(--textoPrincipal);
    }
  }
}

// #borde-ext{
//     fill: rgb(150, 150, 150);
//     z-index: 1;
// }
// #borde-int{
//     fill: black;
//     z-index: 0;
// }
// #gall{
//     stroke-width: 2px;
// }
