@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

// .brands{}

.brandsbar{
    position: relative;
    border: $border-white;
    @include glass-bg-only;
    @include border-gradient;

    & > div{
        box-sizing: border-box;
        @include flex(row, space-around, center);
        padding: 1rem 0;
    }

}