@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;


.cta-email{
    @include flex(column, center, center,none);
    height: auto;
    padding: $spac-s;

    p{
        text-align: center;
        font-size: 80%;
        max-width: 512px;
    }

    .cta-email-container{
        z-index: 2;
        @include font-raleway;
        position: relative;
        width: fit-content;
        max-width: 512px;
        border-radius: $border-rad-s;
        @include glass-bg-only($bg-color: #6f6f6f52);


        button{
            font-size: 100%;
            padding: .5rem 1rem;

            @include desktop-sm{
                font-size: 120%;
            }
        }

        input{
            background-color: transparent;
            border: none;
            color: var(--textoTitulos);      

            &::placeholder{
                color: var(--textoPrincipal);
                text-align: center;
            }
        }

        @include desktop-sm{
            width: 40%;
        }
    }
}