@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.faq{
    color: $blanco;
    height: auto;
    min-height: 150vh;

   .faq-text{
    z-index: 1;
    text-align: center;
   }

   .faq-container{
    background: $colorPrimarioTransparent;
    z-index: 1;

   }
}

.faq-qanda{
    position: relative;
    border: $border-white;
    border-radius: $border-rad-s;
    padding: $spac-s;
    @include flex(column, center, center,none);
    @include glass-bg;
    // background-color: $colorPrimarioTransparent;

    &:hover{

        .answer{
            max-height: 1000px;
        }
        img{
            transform: rotate(90deg);
            // transform-origin: center;
        }
        
    }



    .question{
        cursor: pointer;
        @include flex(row, flex-start, center,none);
        width: 100%;
    
        img{
            transition: all 0.3s ease;
            margin-right: 1rem;
            height: clamp(1rem, 0.643rem + 1.786vw, 1.5rem);
            @include desktop-sm{
                margin-right: 2rem;
            }
    
        }
        p{
            // align-self: center;
            margin: 0;
    
        }
    
    }
    .answer{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;

        p{
            margin: 0;
        }
    }
}
