@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.faq{
    color: $blanco;

   .faq-text{
    z-index: 1;
    // background-color: #333;
   }

   .faq-container{
    z-index: 1;

    .faq-qanda{
        border: $border-white;
        border-radius: $border-rad-s;
        padding: $spac-s;
        @include flex(column, center, center,none);
    }
   }
}

.question{
    cursor: pointer;
    @include flex(row, flex-start, center,none);

    img{
        width: 20%;
        height: clamp(1rem, 0.643rem + 1.786vw, 1.5rem);

    }
    p{
        margin: 0;

    }

}
.answer{
    flex-grow: 0;
    // hr{
    //     display: none;
    // }
    // p{
    //     display: none;
    //     margin: 0;
    // }
}