@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

footer{
    z-index: 4;
    position: relative;
    background: var(--colorBg);
}

.footer{
    // height: auto;
    border-top: 1px solid var(--textoTitulos);
    padding-top: 1rem;
    max-width: $desktop-md;
    text-align: center;



    &>div{
        box-sizing: border-box;
        margin-bottom: $spac-s;
        @include desktop-sm{
            margin-bottom: $spac-m;
        }
    }

    p{
        font-size: 75%;
        margin: 0;
        @include tablet{
            font-size: 90%;
        }
        @include desktop-sm{
            font-size: 100%;
        }
    }
    svg{
        height: 100%;
        width: 25px;
        stroke: var(--colorBg_invert);
        fill: var(--colorBg_invert);
    }

    #logo-bhf{
        border: solid 1px white;
    }

    .footer-text{
        @include desktop-sm{
            text-align: start;
        }
    }
    
    .footer-social{
        @include flex(row, center ,flex-end, 1rem);

        svg{
            width: 2rem;
            stroke: var(--colorBg_invert);
            fill: var(--colorBg_invert);
        }

        @include desktop-md{    
            gap: 2rem;
        }

        }
        p{
            text-align: center;
        }
    }
   
