@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

footer{
    position: relative;
    background: var(--blanco);
}

.footer{
    max-width: $desktop-md;
    text-align: center;



    &>div{
        box-sizing: border-box;
        margin-bottom: $spac-s;
        @include desktop-sm{
            margin-bottom: $spac-m;
        }
    }

    p{
        font-size: 75%;
        margin: 0;
        @include tablet{
            font-size: 90%;
        }
        @include desktop-sm{
            font-size: 100%;
        }
    }
    img{
        height: 25px;
        @include tablet-l{
            height: 30px;
        }
        @include desktop-sm{
            height: 35px
        }
    }

    .footer-text{
        @include desktop-sm{
            text-align: start;
        }
    }
    
    .footer-social{
        @include flex(row, center ,center,1rem);
        height: 100%;

        @include desktop-md{    
            gap: 2rem;
        }

        img{
            height: 20px;
            @include tablet-l{
                height: 25px;
            }
            @include desktop-sm{
                height: 35px;
            }
        }
        p{
            text-align: center;
        }
    }
   
}