@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.gemstone {
  position: relative;
  color: $blanco;
  height: auto;

  .gemstone-text {
    z-index: 1;
    min-height: 350px;
    overflow-y: hidden;
  }


  h2{
    @include text-gradient;

  }


  .paso {
    position: relative;
    padding: $spac-s;
    margin: $spac-xs;
    z-index: 1;
    border: $border-white;
    border-radius: $border-rad-s;
    @include glass-bg;

    // @include glass-bg(rgba(0, 0, 0, 0.562)) {
    //   // background-color: #3333338f;
    //   border-radius: $border-rad-s;
    // }

    h3 {
      margin: 0;
    }

    @include tablet {
      margin: $spac-m;
      padding: $spac-m;
    }
    @include desktop-xlg {
      margin: $spac-l;
      padding-left: 3rem;
      padding-right:3rem ;
    }
  }
  .paso-2 {
    h3 {
      text-align: end;
    }
  }

  @include desktop-sm {
    .paso-2 {
      transform: translateX(72%);
    }
  }
  @include desktop-lg {
    .paso-2 {
      transform: translateX(75%);
    }
  }
  @include desktop-xlg {
    margin: 0 auto;
    max-width: $desktop-lg;
    .paso-2 {
      transform: translateX(70%);
    }
  }
}

//toggle
