@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.hero{
    position: relative;
    color: $blanco;
    justify-content: center;
    padding-top: 2rem;   
    z-index: 1;
    height: 200dvh;

    @include desktop-sm{
        height: 100dvh
    }


    div{
        @include flex(column, center, flex-start, auto);
        @include desktop-sm{
            max-width: 40rem;
        }
    }

    &>:nth-child(2){
        h2{
            width: 100%;
            text-align: center;
        }
    }
    .hero-text{
        position: relative;
        gap: clamp(2rem, 1.118rem + 3.922vw, 3rem);
        
        h1{
            margin: 0;
        }
        h2{
            margin: 0;
        }
        p{
            margin: 0;
            line-height: 1.5rem;
            @include tablet{
                line-height: 1.8rem;
            }
            @include desktop-sm{
                line-height: 2rem;
            }
        }
        button{
            width: 40%;
            @include tablet{
                width: 30%;
            }
        }

        @include desktop-sm{
            padding-left    : 0;
        }
    }

    .mindmap-container{
        position: relative;
        width: 95%;
        height: auto;
        background-color: #333;
        padding: 1rem 0;
        border: $border-white;
        border-radius: $border-rad-xs;
        // @include glass-bg(rgba(0, 0, 0, 0.493));
        @include glass-bg(rgba(0, 0, 0, 0.61));
        overflow: hidden;



        .scrolldown{
            padding: .5rem 2rem;
            font-size: 200%;
            position: absolute;
            @include centrarhorizontal;
        }

        svg{
            width: 95%;
        }

        @include desktop-sm{
            height: 65%;
            overflow: hidden;
            padding: 1rem;

            svg{
                position: absolute;
                top: $spac-xs;
                width: 95%;
                height: auto;
            }
        }

        @include desktop-lg{
            height: 53%;
        }
        @include desktop-xlg{
            height: 48%;
        }

    }
}
