@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.hero{
    position: relative;
    color: $blanco;
    justify-content: center;
    padding-top: 2rem;   
    z-index: 1;
    height: 200dvh;

    @include desktop-sm{
        height: 100dvh
    }


    div{
        @include flex(column, center, flex-start, auto);
        @include desktop-sm{
            max-width: 40rem;
        }
    }

    & > :nth-child(2){
        h2{
            width: 100%;
            text-align: center;
            @include text-gradient;
        }
    }
    .hero-text{
        position: relative;
        gap: clamp(2rem, 1.118rem + 3.922vw, 3rem);

        .hero-p-container > p{
            overflow-y: hidden;

            span{
                display: inline-block;
            }

        }



        h1{
            margin: 0;
        }
        h2{
            margin: 0;
        }
        p{
            margin: 0;
            line-height: 1.5rem;
            @include tablet{
                line-height: 1.8rem;
            }
            @include desktop-sm{
                line-height: 2rem;
            }
        }
        button{
            width: 40%;
            @include tablet{
                width: 30%;
            }
        }

        @include desktop-sm{
            padding-left    : 0;
        }
    }

    .mindmap-title-container{
        position: absolute;
        margin: 2rem auto;
        overflow: hidden;
        // padding: 1rem;
        @include centrarhorizontal;
        width: 100%;
        top: 50%;


        h2{
            margin: 0;
            // @include glass-bg;
            // padding:  2rem 0;
            
        }
    }

    // .mindmap-gradient{
    //     position: absolute;
    //     width: 100%;
    //     bottom: -50%;
    //     z-index: -1;
    //     opacity: .5;

    // }

    .mindmap-container{
        position: relative;
        width: 95%;
        background-color: #333;
        padding: 1rem 0;
        border: $border-white;
        border-radius: $border-rad-xs;
        @include glass-bg(rgba(0, 0, 0, 0.61));
        overflow: hidden;


        .scrolldown{
            padding: .5rem 2rem;
            font-size: 200%;
            position: absolute;
            @include centrarhorizontal;
        }

        svg{
            width: 90%;
            // width: 100%;
            // width: 95%;
            // opacity: 0;
        }

        @include desktop-sm{
            height: 65%;
            overflow: hidden;
            padding: 1rem;

            svg{
                position: absolute;
                top: $spac-xs;
                width: 95%;
                height: auto;
            }
        }

        @include desktop-lg{
            height: 53%;
        }
        @include desktop-xlg{
            height: 48%;
        }

    }
}


// #hero-text-noscram-1,
// #hero-text-noscram-2{
//     position: absolute;
//     left: 150px;
// }