@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.hero {
  position: relative;
  justify-content: center;

  div {
    @include desktop-sm {
      max-width: 40rem;
    }
  }

  & > :nth-child(2) {
    h2 {
      align-self: flex-start;
      width: 100%;
      //   text-align: center;
      @include text-gradient;
    }
  }
  .mindmap-click {
    margin-top: $spac-xs;
  }

  .hero-text {
    height: 100vh;
    @include flex(column, center, flex-start, none);
    position: relative;
    gap: clamp(2rem, 1.118rem + 3.922vw, 3rem);

    .hero-p-container > p {
      overflow-y: hidden;

      span {
        display: inline-block;
      }
    }

    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
      line-height: 1.5rem;
      @include tablet {
        line-height: 1.8rem;
      }
      @include desktop-sm {
        line-height: 2rem;
      }
    }
    button {
      width: 40%;
      @include tablet {
        width: 30%;
      }
    }

    @include desktop-sm {
      padding-left: 0;
    }
  }

  .mindmap-title-container {
    padding: 0 $spac-s;
    height: 80vh;
    @include flex(column, space-around, center, none);

    & > div {
      overflow-y: hidden;
      margin: 0 auto;
    }

    h2 {
      @include font-monument-normal;
    }
    h3 {
      //   text-align: center;

      span {
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
    @include tablet {
      br {
        display: none;
      }
    }
    @include desktop-sm {
      display: none;
    }
  }

  .mindmap-container {
    height: 60vh;
    // @include flex(column, center, center, none);
    position: relative;
    width: 100%;
    overflow-y: hidden;
    min-height: 250px;

    .scrolldown {
      padding: 0.3rem 2rem;
      font-size: 200%;
      position: absolute;
      @include centrarhorizontal;
      top: 20%;
      z-index: 1;
    }

    //mindmap svg 

    .mindmap-overflow{
      position: relative;
      overflow-y: hidden;
        @include flex(column, center, center, none);      
    }


    svg {
      height: auto;
      width: 90%;
      padding: 0.5rem;
      border-radius: $border-rad-xs;
      @include glass-bg-only;
      background-color: #7f7f7f75;
    }

    @include desktop-sm {
      overflow: hidden;
      padding: 1rem;

      svg {
        position: absolute;
        top: $spac-xs;
        height: auto;
      }
    }

    @include desktop-lg {
    }
    @include desktop-xlg {
    }
  }
}

#hero-gem {
  position: absolute;
  right: 0;
  bottom: -8%;
  opacity: 0.5;
  z-index: 2;
}
