@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use "../../css/pure.css";

.nav{
    @extend .pure-menu-horizontal;
    @include glass-bg-only();
    position: fixed;
    top: 0;
    height: 4rem;
    padding: $spac-xs 0;
    border: none; 
    z-index: 2;
    @include flex(row, space-around, center, auto);
    flex-wrap: wrap;
    @include font-raleway;

    a{
        svg{
            overflow: visible;
            height: clamp(2.5rem, 1.429rem + 5.357vw, 4rem);
            width: auto;
        }
    }


    @include tablet{
        padding: .5rem 0;
        height: 4rem;
        justify-content: space-evenly;

    }
    @include desktop-sm{
    }
    @include desktop-md{
        border-top: none;
    }
    @include desktop-lg{
        height: 5rem;
    }

    a{
        @include flex(row, center, center,none);
    }

}


