@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use "../../css/pure.css";

.nav{
    @extend .pure-menu-horizontal;
    position: fixed;
    height: 3rem;
    max-width: $desktop-md;
    background-color: black;
    padding: $spac-xs 0;
    border: $border-white;
    border-top: none;

    
    @include flex(row, space-around, center, auto);

    @include tablet{
        height: 4rem;
        justify-content: center;
        gap: clamp(3rem, 0.714rem + 4.762vw, 5rem);
//de 2 a 5 rem

    
    }
    @include desktop-sm{

    }
    @include desktop-lg{
        height: 5rem;
        border-radius: 0 0 $spac-s $spac-s;
    }

    a{
        height: 90%;
    }

}


