@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;
@use "../../css/pure.css";

.nav{
    @extend .pure-menu-horizontal;
    position: fixed;
    inset: 0;
    height: 3rem;
    max-width: $desktop-md;
    background-color: black;
    padding: $spac-xs 0;
    border: none;
    border-bottom: $border-white;
    z-index: 2;
    @include glass-bg;
    @include flex(row, space-around, center, auto);

    @include tablet{
        height: 4rem;
        justify-content: space-evenly;
        // gap: clamp(3rem, 0.714rem + 4.762vw, 5rem);
        // gap: 2rem;
    }
    @include desktop-sm{
    }
    @include desktop-md{
        border: $border-white;
        border-radius: 0 0 $spac-s $spac-s;
        border-top: none;
        &::before{
            border-radius: 0 0 $spac-s $spac-s;
        }

    }
    @include desktop-lg{
        height: 5rem;
    }

    a{
        height: 90%;
    }

}


