@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.services {
  color: $blanco;
  height: 150dvh;
  gap: 10rem;
  @include desktop-sm{

  }


  
  .services-text {
    position: relative;
    height: 20%;
    @include glass-bg;
    @include flex(column,  center, center, none);
  
    // border-top: $border-white;
    // border-bottom: $border-white;
    z-index: 1;
    padding: $spac-s;
    // height: 20%;
    // @include glass-bg;

    p{
      margin-bottom: 1rem;
      // text-align: start;
    }
    h2{
      // text-align: center;
    }

    @include desktop-sm{
      br{
        display: none;
      }
    }
  }

  .services-boxes{
    justify-content: center;

    @include desktop-sm{
      gap: clamp(0.5rem, -4.423rem + 7.692vw, 2.5rem);
    }
    
    .service{
      margin: $spac-s;
      position: relative;
      border: $border-white;
      border-radius: $border-rad-s;
      // margin-bottom: $spac-m;
      padding: $spac-s;
      text-align: start;
      // max-width: $mobile;
      z-index: 1;
      @include glass-bg{
        border-radius: $border-rad-s
      };

      @include tablet{
        padding: $spac-m;
      }
      @include desktop-sm{
        padding: $spac-s;
        max-width: 20rem;
        margin-bottom: 0;
      }
      @include desktop-lg{
        max-width: 24rem;
      }

      .logo-title{
        text-align: center;
      }
      p{
        margin-bottom: 1rem;
      }


    }
  }
}
