@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.somos {
  height: 100svh;

  @include desktop-sm {
    // height: 120svh;
    @include flex(row, center, center, none);
  }

  .mindmap-title-container {
    height: 100%;
    @include flex(column, space-around, center, none);

    h2 {
      hr {
        border: none;
        height: 1px;
        background: #ffffff;
        background: var(--gradHr);
      }
    }

    @include tablet {
      // padding: 0 $spac-m;
    }

    @include desktop-sm {
      max-width: 60rem;
    }
    .mindmaptxtbottom {
      margin: 0 2rem;
    }
    .mindmap-text-border {
      @include flex(column, space-around, center, none);
      flex-grow: 0.5;
      overflow-x: hidden;
      margin: $spac-s;
      padding: $spac-s;
      @include border-gradient-left;
    }

    .mindmap-title-cta {
      padding: 0.5rem 2rem;
    }

    & > div {
      overflow-y: hidden;
      // margin: 0 auto;
    }

    h2 {
      @include font-monument-normal;
      // @include font-articulat-bold;
      @include text-gradient;
    }
    h3 {
      //   text-align: center;

      span {
        font-weight: 700;
        letter-spacing: 2px;
      }
    }

    button {
      padding: 0;
      font-size: 100%;
      color: var(--colorBg);
      // transform: translateY(-130px);

      @include tablet {
        transform: scale(1.2);
      }

      strong {
        color: var(--colorBg);
      }

      &:hover {
        color: var(--colorBg_invert);

        strong {
          color: var(--colorBg_invert);
        }
      }
    }
    @include tablet {
      br {
        display: none;
      }
    }
    @include desktop-sm {
      // display: none;
    }
  }
}
