@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.testimonials {
  height: 100vh;
  //   background-color: #333;

  .testimonials_container {
    @include flex(column, center, center, none);


    .testimonial {
      position: relative;
      padding: $spac-s;
      margin: $spac-s;
      @include glass-bg-only;
      @include border-gradient;

      p:nth-child(2){
        color: var(--colorSecundario);
      }
      p:nth-child(3){
        color: var(--textoPrincipal);
      }
      p:nth-child(4){
        color: red;
      }



      img {
        height: 2rem;
        width: auto;
      }
    }
  }
}
