@use '../abstract/variables' as*;
@use '../abstract/mixins' as*;

svg {
  .mindmap-like {
    fill: var(--colorSecundario);
    stroke-width: 1px;
    stroke: var(--textoPrincipal);
  }

  .owner-svg,
  .ventas-svg,
  .branding-svg,
  .agendabigtext-svg,
  .estrategia-svg,
  .excelente-svg,
  .no-svg,
  .si-svg,
  .agenda-svg {
    fill: var(--textoPrincipal);
    stroke-width: 1px;
    stroke: var(--textoPrincipal);
  }
  .agendabigfill-svg {
    fill: var(--colorSecundario);
  }
  .flecha {
    stroke-width: 2px;
    stroke: var(--textoPrincipal);
    fill: none;
  }
  .posicionmarca-svg {
    fill: var(--textoPrincipal);
    stroke: var(--textoPrincipal);
  }


  .hero-gem {
    fill: var(--colorBg);
  }
  

  .oferta-logo-1,
  .comunicacion-logo-1,
  .marca-logo-1 {
    fill: var(--colorBg);
  }
  .oferta-logo-2,
  .oferta-logo-3,
  .comunicacion-logo-2,
  .marca-logo-2 {
    fill: var(--colorSecundario);
  }

  .logo-nav {
    fill: var(--colorBg_invert);
  }
}

.gemstone-svg{
  .cls-1{
    stroke: var(--colorBg);
    stroke-width: 2;
    fill: none;
  }

}

.brand{
  stroke:var(--colorSvg_1);
  fill:var(--colorSvg_1)
}

.footer {
  svg {
    fill: var(--colorSvg_1);
  }
}

.btn-pri{
  color: var(--colorBg);

  &:hover{
    color: var(--textoPrincipal);
  }
}

.count__container{
  border-top: $border-principal;
  border-bottom: $border-principal;
}