@use './variables' as *;
@use './mixins' as *;

h1{
    @include font-raleway(600);
    font-size: clamp(2.2rem, 0.171rem + 9.02vw, 4.5rem);
    margin-bottom: 1.5rem;
    margin-top: 1.6rem;
    @include desktop-sm{
        font-size: 3.8rem;
    }
}
h2{
    @include font-raleway(600);
    font-size: clamp(1.5rem, 0.618rem + 3.922vw, 2.5rem);
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    @include desktop-sm{
        font-size: 2.5rem;
    }
}
h3{
    @include font-raleway(600);
    font-size: clamp(1.2rem, 0.343rem + 4.286vw, 2.4rem); 

    @include desktop-sm{
        font-size: 2rem;
    }
 }
p{
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    @include font-raleway(400);
    font-size: clamp(1rem, 0.294rem + 3.137vw, 1.8rem);
    
    @include desktop-sm{
        font-size: 1.7rem;
    }

}
strong{
    font-weight: 500;
    color: white;
}
span{
    color: $colorSecundario;
}
.italic{
    // color: $blanco;
    font-style: italic;
}


.spacer-sm{
    height: 5rem;
}
.spacer-md{
    height: 10rem;
}
.spacer-lg{
    height: 15rem;
}