@use "./variables" as *;
@use "../../css/pure.css";

//textalign center

.txt-cntr{
  text-align: center;
}

//paddings y margins responsive

.m-auto{
  margin-left: auto;
  margin-right: auto;
}

.fhd {
  height: $dvh100;
}
.fh {
  height: $vh100;
}
.mw{
  width: 50%;
}

.m-s {
  margin: $spac-xs;
}
.m-m {
  margin: $spac-s;
}
.m-l {
  margin: $spac-m;
}
.p-s {
  padding-left: $spac-xs;
  padding-right: $spac-xs;
}
.p-m {
  padding-left: $spac-s;
  padding-right: $spac-s;
}
.p-l {
  padding-left: $spac-m;
  padding-right: $spac-m;
}
.fs-s {
  font-size: 80%;
}
.fs-m {
  font-size: 100%;
}
.fs-l {
  font-size: 120%;
}
.fs-xl {
  font-size: 140%;
}
.fs-xxl {
  font-size: 160%;
}

@media (min-width: $tablet) {
  .fh-md {
    height: $dvh100;
  }
  .m-md-s {
    margin: $spac-xs;
  }
  .m-md-m {
    margin: $spac-s;
  }
  .m-md-l {
    margin: $spac-m;
  }
  .p-md-s {
    padding-left: $spac-xs;
    padding-right: $spac-xs;
  }
  .p-md-m {
    padding-left: $spac-s;
    padding-right: $spac-s;
  }
  .p-md-l {
    padding-left: $spac-l;
    padding-right: $spac-l;
  }
  .p-md-s {
    padding-left: $spac-m;
    padding-right: $spac-m;
  }
  .fs-md-s {
    font-size: 80%;
  }
  .fs-md-m {
    font-size: 100%;
  }
  .fs-md-l {
    font-size: 120%;
  }
  .fs-md-xl {
    font-size: 140%;
  }
  .fs-md-xxl {
    font-size: 160%;
  }
}
@media (min-width: $desktop-sm) {
  .fh-lg {
    height: $dvh100;
  }
  .m-lg-s {
    margin: $spac-xs;
  }
  .m-lg-m {
    margin: $spac-s;
  }
  .m-lg-l {
    margin: $spac-m;
  }
  .p-lg-s {
    padding-left: $spac-xs;
    padding-right: $spac-xs;
  }
  .p-lg-m {
    padding-left: $spac-s;
    padding-right: $spac-s;
  }
  .p-lg-l {
    padding-left: $spac-m;
    padding-right: $spac-m;
  }
  .fs-lg-s {
    font-size: 80%;
  }
  .fs-lg-m {
    font-size: 100%;
  }
  .fs-lg-l {
    font-size: 120%;
  }
  .fs-lg-xl {
    font-size: 140%;
  }
  .fs-lg-xxl {
    font-size: 160%;
  }
}
@media (min-width: $desktop-md) {
  .fh-xlg {
    height: $dvh100;
  }
  .m-xlg-s {
    margin: $spac-xs;
  }
  .m-xlg-m {
    margin: $spac-s;
  }
  .m-xlg-l {
    margin: $spac-m;
  }
  .p-xlg-s {
    padding-left: $spac-xs;
    padding-right: $spac-xs;
  }
  .p-xlg-m {
    padding-left: $spac-s;
    padding-right: $spac-s;
  }
  .p-xlg-l {
    padding-left: $spac-m;
    padding-right: $spac-m;
  }
  .fs-xlg-s {
    font-size: 80%;
  }
  .fs-xlg-m {
    font-size: 100%;
  }
  .fs-xlg-l {
    font-size: 120%;
  }
  .fs-xlg-xl {
    font-size: 140%;
  }
  .fs-xlg-xxl {
    font-size: 160%;
  }
}
@media (min-width: $desktop-lg) {
  .fh-xxlg {
    height: $dvh100;
  }
  .m-xxlg-s {
    margin: $spac-xs;
  }
  .m-xxlg-m {
    margin: $spac-s;
  }
  .m-xxlg-l {
    margin: $spac-m;
  }
  .p-xxlg-s {
    padding-left: $spac-xs;
    padding-right: $spac-xs;
  }
  .p-xxlg-m {
    padding-left: $spac-s;
    padding-right: $spac-s;
  }
  .p-xxlg-l {
    padding-left: $spac-m;
    padding-right: $spac-m;
  }
  .fs-xxlg-s {
    font-size: 80%;
  }
  .fs-xxlg-m {
    font-size: 100%;
  }
  .fs-xxlg-l {
    font-size: 120%;
  }
  .fs-xxlg-xl {
    font-size: 140%;
  }
  .fs-xxlg-xxl {
    font-size: 160%;
  }
}
@media (min-width: $desktop-xlg) {
  .fh-xxxlg {
    height: $dvh100;
  }
  .m-xxxlg-s {
    margin: $spac-xs;
  }
  .m-xxxlg-m {
    margin: $spac-s;
  }
  .m-xxxlg-l {
    margin: $spac-m;
  }
  .p-xxxlg-s {
    padding-left: $spac-xs;
    padding-right: $spac-xs;
  }
  .p-xxxlg-m {
    padding-left: $spac-s;
    padding-right: $spac-s;
  }
  .p-xxxlg-l {
    padding-left: $spac-m;
    padding-right: $spac-m;
  }
  .fs-xxxlg-s {
    font-size: 80%;
  }
  .fs-xxxlg-m {
    font-size: 100%;
  }
  .fs-xxxlg-l {
    font-size: 120%;
  }
  .fs-xxxlg-xl {
    font-size: 140%;
  }
  .fs-xxxlg-xxl {
    font-size: 160%;
  }
}
.menu-link {
  @extend .pure-menu-link;
}
.menu-list {
  @extend .pure-menu-list;
}
.menu-item {
  @extend .pure-menu-item;
}
.menu-heading {
  @extend .pure-menu-heading;
}

