$colorPrimario: #003399;
$colorPrimarioTransparent: #0033994f;
$colorSecundario: #ccff66;
$colorSecundarioTransparent: #ccff663d;
$blanco: #cccccc;
$gris1: #999999;
$gris2: #666666;
$gris3: #333333;
$negro: #000000;
$transparent0: transparent;
$transparent1: #cccccc0a;
$transparent2: #cccccc0e;

//media queries
$mobile-sm: 24.5rem;
$mobile: 35.5rem;
$tablet: 37.5rem;
$tablet-l: 48rem;
$desktop-sm: 64rem;
$desktop-md: 80rem;
$desktop-lg: 90rem;
$desktop-xlg: 120rem;

//fonts
$fuentePrincipal: 'roboto', sans-serif;
$fuenteSecundaria: 'raleway', sans-serif;
$fuenteTerciaria: 'rajdhani', sans-serif;


// border
$border-black: solid 1px black;
$border-black-2: solid 2px black;
$border-white: solid 1px #cccccc;
$border-white-2: solid 2px #cccccc;

//medidas
$vh100: 100vh;
$dvh100: 100dvh;
$border-rad-xs: .3rem .05rem;  
$border-rad-s: .5rem .05rem;  
$spac-xs:.5rem;
$spac-s: 1rem;
$spac-m: 2rem;
$spac-l: 2.5rem;