@forward '../css/pure.css';
@forward '../css/pure-grid-responsive.css';
@forward './abstract/globales';
@forward 'components/buttons';
@forward './abstract/utilidades';
@forward './layout/nav';
@forward 'components/counter';
@forward './layout/hero';
@forward './layout/hero-bg';
@forward './layout/services';
@forward './layout/gemstone';
@forward './layout/faq';
@forward './layout/footer';

html, body {
    // overflow: hidden; /* Evita el scroll nativo del navegador */
  }

body{
    background-color: #000000;
    overflow-x: hidden;
    max-width: 100vw;
}

